Repository codefresh-io/terraform-provider-codefresh, pull requests merged in 2023-06, with the labels that each got.

#118 Add RequiredAvailableStorage parameter to RuntimeEnvironment
  client/pipeline.go
  codefresh/resource_pipeline.go
  docs/resources/pipeline.md
Labels: source, docs

#120 fix provider source location
  README.md
Labels: docs

#119 gitops abac rules
  client/client.go
  client/gitops_abac_rules.go
  client/gql_client.go
  client/user.go
  codefresh/env.go
  codefresh/provider.go
  codefresh/resource_abac_rules.go
  codefresh/resource_abac_rules_test.go
  codefresh/resource_permission.go
  docs/index.md
  docs/resources/abac_rules.md
  examples/abac_rules/main.tf
  examples/abac_rules/provider.tf
  examples/abac_rules/terraform.tfvars
  examples/abac_rules/vars.tf
  examples/abac_rules/versions.tf
  go.sum
  templates/resources/abac_rules.md.tmpl
Labels: enhancement, source, docs
