Repository codefresh-io/terraform-provider-codefresh, pull requests merged in 2024-02, with the labels that each got.

#135 Fix: Provider crashes when creating codefresh_api_key
  .gitignore
  codefresh/env.go
  codefresh/internal/schemautil/validation.go
  codefresh/resource_api_key.go
  codefresh/resource_pipeline_test.go
  docs/resources/api_key.md
  main.go
  templates/resources/api_key.md.tmpl
Labels: source, docs

#117 Feat: Data source project
  codefresh/data_project.go
  codefresh/provider.go
  docs/data-sources/project.md
  templates/data-sources/project.md.tmpl
Labels: source, docs

#137 Feat: Add permit restart from failed steps to pipeline resource
  codefresh/cfclient/pipeline.go
  codefresh/resource_pipeline.go
  codefresh/resource_pipeline_test.go
  docs/resources/pipeline.md
Labels: source, docs

#136 Feat: Add enable notifications on pipeline level (credit @nickborysov)
  codefresh/resource_pipeline.go
  codefresh/resource_pipeline_test.go
  docs/resources/pipeline.md
Labels: source, docs

#139 feat: reusable IDP schema and types
  codefresh/internal/idp/doc.go
  codefresh/internal/idp/schema.go
  codefresh/internal/idp/types.go
  codefresh/resource_account_idp.go
  codefresh/resource_idp.go
  codefresh/resource_idp_accounts.go
Labels: source

#140 Feat: Update supported terraform versions - Minimal version 1.3.0 and Maximum version 1.7.0
  codefresh.yml
Labels: automation

#138 Feat: Add codefresh_idp and codefresh_account_idp resource and codefresh_account_idp datasource
  codefresh/cfclient/idp.go
  codefresh/data_account_idp.go
  codefresh/internal/idp/doc.go
  codefresh/internal/idp/schema.go
  codefresh/internal/idp/types.go
  codefresh/provider.go
  codefresh/resource_account_idp.go
  codefresh/resource_account_idp_test.go
  codefresh/resource_idp.go
  codefresh/resource_idp_accounts.go
  docs/data-sources/account_idp.md
  docs/guides/development.md
  docs/resources/account_idp.md
  docs/resources/idp.md
  templates/guides/development.md.tmpl
  templates/resources/account_idp.md.tmpl
  templates/resources/idp.md.tmpl
Labels: source, docs
